[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
python-dotenv = "*"

[dev-packages]
honcho = "*"

[requires]
python_version = "3.13"

[scripts]
dev = "honcho start -f Procfile.dev"
build = "npm run build --prefix frontend"
start = "pipenv run python backend/app.py"
