[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cors = "*"
flask = "*"
flask-cors = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
